
<div class="px-4 d-flex justify-content-start">
    <textarea id="post-content" @bind="NewPostContent"></textarea>
    <Button Color="ButtonColor.Success" 
            Outline="true"
            onclick="@(async () => await OnClick_AddPost())">Add</Button>
</div>
<br/>
<div>
    <Grid TItem="Post" Class="table table-hover table-bordered table-striped" 
          DataProvider="PostGridDataProvider"
          AllowSelection="true"
          SelectedItemsChanged="OnSelectedItemsChanged"
          SelectionMode="GridSelectionMode.Single"
          @ref="ApiGrid">
        <GridColumn TItem="Post" HeaderText="Id">
            @context.Id
        </GridColumn>
        <GridColumn TItem="Post" HeaderText="Content">
            @context.Content
        </GridColumn>
        <GridColumn TItem="Post" HeaderText="Date Created">
            @context.DateCreated
        </GridColumn>
        <GridColumn TItem="Post" HeaderText="Last Modified">
            @context.LastModified
        </GridColumn>
    </Grid>
</div>
<div class="px-4 d-flex  justify-content-start">
    <Button Color="ButtonColor.Info"
            Outline="true">Update</Button>
    <br/>
    <Button Color="ButtonColor.Danger"
            Outline="true"
            onclick="@(async () => await OnClick_DeletePosts())">Delete</Button>
</div>